<!DOCTYPE HTML>
<html>

<head>


  <meta charset="UTF-8">

  <meta name="description" content="">
  <meta name="keywords" content="">
  

  <title>Product Page</title>


  <link rel="shortcut icon" href="favicon.ico">
  <link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
  <link href="css/grid.css" media="screen" rel="stylesheet" type="text/css">

  <script src="js/jquery-1.7.2.min.js" ></script>
  <script src="js/jflow.plus.js" ></script>
  <script src="js/jquery.carouFredSel-5.2.2-packed.js"></script>
  <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/review.js"></script>


  <script>
	$(document).ready(function() {
		$("select").selectBox();
	});
  </script>

  <script>
	$(document).ready(function() {
		$('#wrapper_tab a').click(function() {
			if ($(this).attr('class') != $('#wrapper_tab').attr('class') ) {
				$('#wrapper_tab').attr('class',$(this).attr('class'));
			}
			return false;
		});
	});
  </script>

  <script>
	$(function() {
	  $('#list_product').carouFredSel({
		prev: '#prev_c1',
		next: '#next_c1',
		auto: false
	  });
          $('#list_banners').carouFredSel({
		prev: '#ban_prev',
		next: '#ban_next',
		scroll: 1,
		auto: false
	  });
	  $('#thumblist').carouFredSel({
		prev: '#img_prev',
		next: '#img_next',
		scroll: 1,
		auto: false,
		circular: false,
	  });
	  $(window).resize();
	});
  </script>
  <script>
       $(document).ready(function(){
	      $("button").click(function(){
		     $(this).addClass('click')
	      });
       })
  </script>

</head>
<body>
   <div class="container_12">
    <div id="top" >

      <div class="grid_12">
        <div class="welcome" style="text-align: center;">
          Welcome, {{user.name}} !
        </div><!-- .welcome -->
      </div><!-- .grid_6 -->

      
    </div><!-- #top -->

    <div class="clear"></div>

    <header id="branding">
      <div class="grid_3">
        <hgroup>
          <h1 id="site_logo" ><a href="#" title=""><img src="images/logo.png" width="175px" height="100px" alt="Online Store Theme Logo"/></a></h1>
        </hgroup>
      </div><!-- .grid_3 -->
      <div class="grid_5">
        <hgroup>
         <h2 id="site_logo1" ><a href="#" title=""><img src="images/logo1.png" width="350px" height="100px" alt="Online Store Theme Logo1"/></a></h2>    
        </hgroup>
        
      </div><!-- .grid_3 -->

      <div class="grid_4">

        <nav class="private">
          <ul>
            <li><a href="/personal_page">My Account</a></li>
		<li class="separator">|</li>
            <li><a href="/logout">Log Out</a></li>
		<li class="separator">|</li>
            <li><div><a href='/personal_page'>{{user.name}}</a></div></li>
          </ul>
        </nav><!-- .private -->
      </div><!-- .grid_6 -->
    </header><!-- #branding -->
  </div><!-- .container_12 -->

  <div class="clear"></div>

 <div id="block_nav_primary">
    <div class="container_12">
      <div class="grid_12">
        <nav class="primary">
          <ul>
            <li class="curent"><a href="/index2">Home</a></li>
            <li class=""><a href="/product_list">Product List</a></li>
          </ul>
        </nav><!-- .primary -->
      </div><!-- .grid_12 -->
    </div><!-- .container_12 -->
  </div><!-- .block_nav_primary --> 


  <div class="clear"></div>

  <div class="container_12">
    <div class="grid_12">
       <div class="breadcrumbs">
	      <a href="/index2">Home</a><span>&#8250;</span><a href="/product_list">product list</a><span>&#8250;</span><span class="current">product page</span>
       </div><!-- .breadcrumbs -->
    </div><!-- .grid_12 -->
  </div><!-- .container_12 -->

  <div class="clear"></div>

  <section id="main">
    <div class="container_12">
       <div id="sidebar" class="grid_3">
	      <aside id="categories_nav">
		     <h3>Categories</h3>

		     <nav class="left_menu">
			    <ul>
				   <li><a href="#">For Study<span>(0)</span></a></li>
				   <li><a href="#">Electric <span>(2)</span></a></li>
				   <li><a href="#">For Room <span>(3)</span></a></li>
				   <li class="last"><a href="#">Other <span>(0)</span></a></li>
			    </ul>
		     </nav><!-- .left_menu -->
	      </aside><!-- #categories_nav -->

	      

	      

	      <aside id="banners">
		
	      </aside><!-- #banners -->

	     
       </div><!-- .sidebar -->

       <div id="content" class="grid_9">
	      <h1 class="page_title">{{products.product_name}}</h1>

		<div class="product_page">
			<div class="grid_4 img_slid" id="products">
				
				<div class="preview slides_container">
					<div class="prev_bg">
							<img src="/file/download/{{products.imageId}}"  title="" alt=""/>
					</div>
				</div><!-- .prev -->
			</div><!-- .grid_4 -->

			<div class="grid_5">
				<div class="entry_content">
					<!-- 删掉了评论的快捷键
					<div class="review">
						<a class="plus" href="#"></a>
						<a class="plus" href="#"></a>
						<a class="plus" href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<span>1 REVIEW(S)</span>
						<a class="add_review" href="#">ADD YOUR REVIEW</a>
					</div>  -->
					<div class="item_information">
						<div class="information">
							<table style="text-align: left;">
        						<tbody>
        							<tr>
        								<td>Owner: {{products.owner}}</td>
        							</tr>
        							<tr>
        								<td>Time: {{products.time}}</td>
        							</tr>
        							<tr>
        								<td>Price: {{products.price}}</td>
        							</tr>
        							<tr>
        								<td>Telephone: {{products.phone}}</td>
        							</tr>
        							<tr>
        								<td>Description: {{products.description}}</td>
        							</tr>
        					</table>
						</div><!-- .availability_sku -->
					</div><!-- .ava_price -->

					<div class="block_cart">
						<div class="obn_like">
							<form id = "zan"  action="/product_page/like/{{products.imageId}}" method="POST" target="id_iframe">
							<iframe id="id_iframe" name="id_iframe" style="display:none;"></iframe>
							<button  id="likes" type="submit" class="like" name="likes" value="" style="background-color:None;display: inline;" onclick="window.location.reload()"><a class="like">(Like)</a></button>
							</form>
						</div>
						<div class="obn_like" style="margin-left: 30px">

						<form id="wishlistform" action="/wishlist" method="POST" target="id_iframe">
							<!-- <input  type="submit" id="wishlist" name="wishlist" value="Add to WishList" /> -->
							<input name="imageIdW" id= "alert" value="{{products.imageId}}" style="display: none">
							<button  id="wishlist" type="submit" class="like" name="wishlist" value="" style="background-color:None;display: inline;" onclick="window.location.reload()"><a class="like">(Add to Wishlist)</a></button>

						</form>
						
						</div>

						<div class="clear"></div>
					</div><!-- .block_cart -->
					<div class="soc">
						
					</div><!-- .soc -->
				</div><!-- .entry_content -->

			</div><!-- .grid_5 -->

			<div class="clear"></div>

			<div class="grid_9" >
				<div id="wrapper_tab" class="tab1">

					<a href="#" class="tab1 tab_link">Reviews</a>
					

					<div class="clear"></div>

					<div id="refresh" name="refresh" class="tab1 tab_body">
						<h4>Customer reviews</h4>
						 {% for review in reviews %}
						<ul class="comments">
							<li>
								<div class="autor" style="font-size: 130%">{{review.userName}}</div>, <time datetime="2012-11-03">{{review.date}}</time>

								<div class="evaluation">
									<div class="clear"></div>
								</div><!-- .evaluation -->

								<p>{{review.review}}</p>
								<div class="evaluation">
									<div class="clear"></div>
								</div><!-- .evaluation -->
							</li>
						</ul><!-- .comments -->
									{% endfor %}
						<form id='review' name="f1" method="POST" action="/product_page/review" class="add_comments" >
							<h4>Write Your Own Review</h4>
							<div class="text_review">
								<strong>Review</strong><sup class="surely">*</sup><br/>
								<input name="imageId" id= "alert" value="{{products.imageId}}" style="display:None">
								<textarea name="review" value="review"></textarea>
							</div><!-- .text_review -->
							<input  type="submit" id="submit" value="Submit Review" />

							<!-- <input  type="reset" onclick="f1.submit()" value="Submit Review" /> -->
						</form><!-- .add_comments -->
					<div class="clear"></div>
					</div><!-- .tab2 .tab_body -->

					<div class="tab3 tab_body">
						<h4>Custom Tab</h4>
					<div class="clear"></div>
					</div><!-- .tab3 .tab_body -->
					<div class="clear"></div>
				</div>​<!-- #wrapper_tab -->
				<div class="clear"></div>
			</div><!-- .grid_9 -->

			<div class="clear"></div>

		</div><!-- .product_page -->
		<div class="clear"></div>

       </div><!-- #content -->

      <div class="clear"></div>

    </div><!-- .container_12 -->
  </section><!-- #main -->

  <div class="clear"></div>


</body>
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
</html>
